*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body{
    background-image: url('../assets/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 2rem; 
    text-transform: uppercase;

}

th,td {
    padding: 20px;
    border: 1px solid #000; 
    text-align: center;
}

button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1,5rem; 
  
}

button:hover {
  background-color: #0056b3; 
}

form button{
    margin: 10px auto;
}


form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: 1px solid #000; 
    border-radius: 5px;
    font-family: sans-serif;
   
}

#mensajeError{
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    color: black;
    background: red;
    padding: 30px;
    font-size: 1.5rem;
}

#tableContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 75%; 
    margin: 20px auto;
    padding: 20px;
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color:black;
    border: 1px solid #000; 
    border-radius: 5px; 
    font-family: sans-serif;
    font-size: 1,5rem; 
}



